#contato {
    background-color: rgb(var(--luminosidadeBaixa));
    background-image: url("imagens/bg_textile.jpg");

    color: rgb(var(--luminosidadeAlta));

    display: grid;
    align-content: center;
    justify-content: center;
    text-align: left;
}
    .contatoContainer {
        width: 400px;
        max-width: 90%;
    }
    #contato button {
        background-color: rgb(var(--luminosidadeAlta));
        color: rgb(var(--luminosidadeBaixa));
        cursor: pointer;

        font-weight: 500 !important;
        text-align: center !important;

        border: none;
        padding: 8px 16px;
    }
        @media (hover: hover) {
            #contato button:hover {
                background-color: rgb(var(--saturacaoAlta));
                color: rgb(var(--luminosidadeAlta));
            }
        }
    #contato form {
        background: none;
        margin-top: 16px;
        display: flex;
        flex-direction: column;
    }
    #contato h1 {
        text-align: left;
        text-transform: lowercase;
        font-size: 4em;
    }
    #contato h2 {
        text-align: center;
    }
    #contato textarea {
        border-right: 1px solid rgba(var(--luminosidadeAlta),0.1);
        height: 4em;
        resize: none;
    }
        #contato button,
        #contato input,
        #contato textarea,
        #contato label {
            font: inherit;
            text-align: inherit;
            margin: 8px 0;
        }
        #contato input,
        #contato textarea {
            background-color: inherit;
            border: none;
            border-bottom: 1px solid rgba(var(--luminosidadeAlta),0.1);
            padding: 8px 4px;
        }
        input[type="text"],
        textarea {
            color: rgb(var(--luminosidadeAlta));
        }

@media (max-width: 1080px) {
    #contato {
        font-size: 1.2em;
        padding: 5%;
    }
        #contato button,
        #contato input,
        #contato textarea,
        #contato label {
            margin: 12px 0;
        }
        #contato button {
            margin-top: 24px;
        }
        #contato h1 {
            font-size: 3.5em;
            margin-bottom: 32px;
        }
        #contato input,
        #contato textarea {
            border-bottom: 1px solid rgba(var(--luminosidadeAlta), 0.5);
            padding: 12px 0;
        }
        .contatoContainer {
            width: max-content;
            max-width: 90%;
        }
}

@media (max-width: 768px) {
    #contato {
        font-size: 1.1em;
    }
        #contato button {
            margin-top: 8px;
        }
        #contato h1 {
            font-size: 2.8em;
            margin-bottom: 0;
            word-break: keep-all;
        }
        #contato button,
        #contato input,
        #contato textarea,
        #contato label {
            margin: 8px 0;
        }
        #contato input,
        #contato textarea {
            padding: 4px 2px;
        }
}

@media (max-width: 480px) {
    #contato {
        font-size: 0.9em;
    }
    #contato h1 {
        font-size: 2.2em;
    }
    .contatoContainer {
        width: 100%;
    }
}