#projetos {
    background-color: rgb(var(--luminosidadeAlta));
    background-image: url("imagens/bg_noise.jpg");

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    #projetos h2 {
        display: block;
        width: 100%;

        text-align: center;
        margin-bottom: 32px;
    }

.carrossel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    position: relative;
}
    .carrosselContainer {
        width: 60%;
        display: flex;
        justify-content: center;
    }
        .carrosselContainer .exemplo:not(:first-child) {
            display: none;
        }
.seta {
    background: none;
    border: none;
    cursor: pointer;

    color: rgb(var(--luminosidadeBaixa));
    font-size: 2.5em;
    font-weight: 800;

    padding: 8px 16px;
    transition: transform 0.2s, color 0.2s;
}
    @media (hover: hover) {
        .seta:hover {
            background-color: transparent;
            color: rgb(var(--saturacaoAlta));
            transform: scale(1.2);
        }
    }

.exemplo {
    height: 80%;
    width: 100%;
}
    .exemplo a {
        color: inherit;
        text-decoration: none;
        transition: background-color 0.2s, color 0.2s;
    }
        @media (hover: hover) {
            .exemplo a:hover {
                color: rgb(var(--saturacaoAlta));
            }
        }
    .exemplo div {
        display: flex;
        justify-self: center;

        height: 100%;
        width: 100%;
    }
    .exemplo h1 {
        font-size: 3em;
    }
    .exemplo h2 {
        text-align: left !important;
        margin: 0 !important;
    }
    .exemplo img {
        height: 75vh;
        width: 40%;
        object-fit: cover;

        clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
    }
    .exemplo p {
        text-align: justify;
        margin-top: 16px;
    }
    .exemplo span {
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 100%;

        margin-left: 32px;
    }
    .linkAoProjeto {
        background-color: rgb(var(--luminosidadeBaixa));
        color: rgb(var(--luminosidadeAlta)) !important;
        font-weight: 500;

        padding: 4px 8px;
    }
        @media (hover: hover) { 
            .linkAoProjeto:hover {
                background-color: rgb(var(--saturacaoAlta));
            }
        }

@media (max-width: 1080px) {
    #projetos {
        font-size: 0.6em;
        padding: 20% 10%;
    }
    .carrossel {
        display: grid;
        grid-template-areas:
        "projeto projeto"
        "regua regua";
    }
        .carrosselContainer {
            display: grid;
            grid-area: projeto;
            width: 100%;
        }
        .carrosselContainer h1 {
            font-size: 5em;
        }
        .carrosselContainer h2 {
            font-size: 2em;
        }
        .carrosselContainer img {
            height: 640px;
            width: 100%;

            clip-path: none;
            margin: 32px 0;
        }
        .carrosselContainer p {
            font-size: 3em;
            margin: 32px 0;
        }

    .exemplo div {
        display: block;
    }
    .linkAoProjeto {
        padding: 8px 16px;
    }
    .seta {
        font-size: 5em;

        background-color: rgb(var(--luminosidadeBaixa));
        color: rgb(var(--luminosidadeAlta));
    }
        .seta:active {
            background-color: transparent;
            color: rgb(var(--saturacaoAlta));
        }
}