a {
    color: grey;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1%;
}

header {
        margin-bottom: 0;
}

.folio {
    text-align: center;
}

.folioEntry {
    display: inline-block;
    margin: 20px;
    width: 35%;
    text-align: left;
}

.folioEntry {

}

.folioEntry img {
    max-height: 120px;
    min-width: 240px;
    max-height: 320px;
    max-width: 640px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 5px;
}

.footer {
    color: #444;
    font-size: small;
    margin-top: 15px;
    text-align: center;
}

.header {
    color: #222;
    text-align: left;
    max-width: 30%;
    margin-bottom: 0;
    margin-left: 2%;
    margin-top: 0.5%;
}

.header .title {
    margin-top: 0;
}

.title {
    font-family: 'Cormorant Garamond';
    font-size: 400%;
    margin-bottom: 0;
    margin-top: 0;
}

.linkwheel {
    margin-top: 0;

}
