/* general */
:root {
    --main:#696;
}

body {
    margin: 0;

    color: #444;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* header */
.header {
    background-color: var(--main);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-left: 32px;
    padding-right: 32px;
    padding-top: 20px;
    height: 50%;
}
.header_title {
    color: white;
    line-height: 0.7;
    opacity: 0.8;
}
.header_title_1 {
    font-size: 100%;
    font-weight: 100;
}
.header_title_2 {
    font-size: 185%;
    font-weight: 500;
}

@media only screen and (max-width: 960px) {
    .header {
        background-image:url('images/banner/bannersmol.jpg');
    }
    .header_title {
        font-size: 150%;
    }
}

@media only screen and (min-width: 960px) {
    .header {
           background-image:url('images/banner/bannerbig.jpg');
    }
    .header_title {
        font-size: 200%;
 
        position: absolute;
        left: 10%;
        top: 30%;
    }
    .header_title_1 {
        font-size: 200%;
        font-weight: 100;
    }
    .header_title_2 {
        font-size: 370%;
        font-weight: 500;
    }
}

.logo {
    max-height: 32px;
    margin-right: 16px;
    float: left;
}
.hotline {
    background-color: white;
    padding: 8px;
    border-radius: 25px;
    float: right;
}

.logo, .hotline {
    vertical-align: middle;
}

/* wrapper */
.wrapper {
    margin: auto;
    width: 80%;
    text-align: center;
}

/* main */
.main_title, .main_subtitle {
    text-transform: lowercase;

    margin: 0;
}

.main_title {
    font-weight: 100;
    font-size: 300%;
}
.main_subtitle {
    font-weight: 1000;
    font-size: 150%;
}
.main_text {
    font-size: 75%;
}

@media only screen and (min-width: 960px) {
    .main_title {
        font-weight: 100;
        font-size: 400%;
    }
    .main_subtitle {
        font-weight: 1000;
        font-size: 200%;
    }
    .main_text {
        font-size: 75%;
    }
}

/* search */
.search hr {
    opacity: 0.4;
    width: 15%;
}
.search input {
    border-width: 2px;
}
.search p {
    background-color: var(--main);
    color: white;

    margin-right: 0;
    text-transform: uppercase;
}

.search input, .search p {
    display: inline-block;
    font-size: 100%;
    padding: 10px;
    vertical-align: middle;
}

@media only screen and (min-width: 1280px) {
    .search input, .search p {
        display: inline-block;
        font-size: 200%;
        padding: 20px;
        vertical-align: middle;
    }
}

/* blog */
.blog /* word */ {
    margin-bottom: 1%;
    text-align: left;

    font-weight: 100;
    font-size: 200%;
}

.avatar {
    height: 48px;
    width: 48px;
    background-color: var(--main);
    border-radius: 50%;
    display: block;
}
.post_line, .text_wrapper {
    display: inline-block;
}
.post {
    margin-left: 32px;
}
.text_wrapper {
    vertical-align: top;
    margin-bottom: 32px;
    margin-left: 16px;
    max-width: 70%;

    font-size: 60%;
    font-weight: 400;
    text-align: justify;
}
.title {
    color: var(--main);
    font-size: 200%;
    font-weight: 600;
}

@media only screen and (min-width: 1280px) {
    .blog {
        font-size: 300%;
    }

    .avatar {
      display: inline-block;
    }
    .post {
      display: inline;
      margin-left: 8px;
      margin-right: 15%;
    }
    .text_wrapper {
        max-width: 25%;
    }
}

/* footer */
.footer_wrapper {
    background-color: var(--main);
    margin-top: 16px;
}

.footer {
    margin: auto;
    width: 80%;
}
.footer img {
    max-width: 32px;
    margin: 8px;
    vertical-align: middle;
}
