@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

a {
	color: grey;
	text-decoration: none;
}

body {
	background-color: #eeeeee;
	font-family: "SN Pro", sans-serif;
	font-optical-sizing: auto;
	text-align: center;
}

.folioEntry {
	clear: both;
	display: block;
	margin: 20px;
}

.folioImg {
	height: 320px;
	display: flex;
	filter: sepia(70%);
}

.folioImg h1 {
	font-family: 'Arvo';
	font-size: 3em;
	color: white;

	display: flex;
	align-items: flex-end;
	margin-bottom: 0;

	text-shadow: 3px 3px 3px #1d130b;
}

.footer {
	background-color: #1d130b;
	clear: both;
	color: #eee;
	font-size: small;
	margin-top: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center;
}

.header {
	background-color: rgba(0,0,0,0.001);
	color: #3e2718;
	padding: 20px;
	text-align: center;
	text-transform: lowercase;
}

.header .title {
	margin-top: 0;
}

.maintitle {
	font-family: 'Arvo';
	font-size: 4em;
	margin-bottom: 0;
	margin-top: 0;
}

.linkwheel {
	margin-top: 0;
}
