@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

a {
	color: grey;
	text-decoration: none;
}

body {
	background-color: #eeeeee;
	font-family: "SN Pro", sans-serif;
	font-optical-sizing: auto;
}

header {
	margin-bottom: 0;
}

.folioEntry {
	display: block;
	clear: both;
	margin: 20px;
}

.folioImg {
	color: #eee;
	font-size: 4em;
	height: 320px;
	position: relative;
	text-align: right;
}

.folioImg p {
	bottom: 0;
	margin: 0;
	position: absolute;
}

.footer {
	background-color: #444;
	clear: both;
	color: #ddd;
	font-size: small;
	margin-top: 20px;
	text-align: center;
}

.header {
	color: #222;
	text-align: center;
}

.header .title {
	margin-top: 0;
}

.maintitle {
	font-family: 'Arvo';
	font-size: 400%;
	margin-bottom: 0;
	margin-top: 0;
}

.linkwheel {
	margin-top: 0;
}
