@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

a {
	color: grey;
	text-decoration: none;
}

body {
	background-color: #eeeeee;
	font-family: "SN Pro", sans-serif;
	font-optical-sizing: auto;
	text-align: center;
}

h2 {
	font-size: 1.5em;
}

img {
	width: 80%;
}

.footer {
	background-color: #1d130b;
	clear: both;
	color: #eee;
	font-size: small;
	margin-top: 1.5em;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	text-align: center;
}

.header {
	background-color: rgba(0,0,0,0.001);
	padding: 1.5em;
	text-align: center;
	text-transform: lowercase;
}

.header .title {
	margin-top: 0;
}

.linkwheel {
	margin-top: 0;
}

.separador {
	width: 100%;
	background: #ccc;
    align-self: stretch;
}

#title {
	color: #eee;
	font-family: 'Arvo';
	font-size: 4em;
	margin-bottom: 0;
	margin-top: 0;
	text-shadow: 2px 3px 4px #1d130b;

	cursor: pointer;
	user-select: none;
}

/* projetos */
	.folioEntry {
		clear: both;
		display: block;
		padding: 1em;
	}

	.folioImg {
		height: 20em;
		display: flex;
		filter: sepia(70%);
	}

	.folioImg h1 {
		font-family: 'Arvo';
		font-size: 3em;
		color: white;

		display: flex;
		align-items: flex-end;
		margin-bottom: 0;

		text-shadow: 2px 2px 2px #1d130b;
	}

	#verMais {
		background-color: grey;
		border: none;
		border-radius: 10%;
		color: #eee;
		cursor: pointer;
		font-family: 'Arvo';
		font-size: 2em;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}

/* Contato */
	form {
		display: flex;
    	flex-direction: column;
    	align-items: flex-end;
	}

		input[type=text], textarea {
			background-color: #eee;
			border: none;
			border-bottom: 1px solid;
			margin-bottom: 0.5em;
			margin-top: 0.5em;
			width: 20em;
		}

		label {
			align-items: center;
		}

		textarea {
			border-right: 1px solid;
			overflow: hidden;
			display: inline-block;
			vertical-align: middle;
		}

.colunas {
		display: grid;
		grid-template-columns: 1fr 2px 1fr;
		gap: 40px;
		align-items: start;
		
	}

	#formulario {
		text-align: right;
	}

	#infos {
		text-align: left;
	}

	#infos img {
		margin-right: 16px;
		width: 32px;
	}

	@media (max-width: 768px) {
		form {
			align-items: center;
		}

		.colunas {
			grid-template-columns: 1fr;
			text-align: center;
			align-items: center;
		}
		.separador {
			display: none;
		}

		#formulario {
			text-align: center;
		}

		#infos {
			text-align: center;
		}
}

/* esconder etc */
.notsharing {
	opacity: 0;
	user-select: none;
}

.erm:hover ~ .notsharing {
	opacity: 1;
}
