@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

a {
	color: grey;
	text-decoration: none;
}

body {
	background-color: #eeeeee;
	font-family: "SN Pro", sans-serif;
	font-optical-sizing: auto;
}

header {
	margin-bottom: 0;
}

.folioEntry {
	clear: both;
	display: block;
	margin: 20px;
}

.folioImg {
	height: 320px;
	position: relative;
	filter: sepia(70%);
}

.folioImg h1 {
	bottom: 0;
	margin: 0;
	right: 0;
	position: absolute;

	font-family: 'Arvo';
	font-size: 3em;
	color: white;
	filter: hue-rotate(180deg);
	text-shadow: 0px 2px 2px black;
}

.footer {
	background-color: #444;
	clear: both;
	color: #ddd;
	font-size: small;
	margin-top: 20px;
	text-align: center;
}

.header {
	color: #222;
	text-align: center;
}

.header .title {
	margin-top: 0;
}

.maintitle {
	font-family: 'Arvo';
	font-size: 4em;
	margin-bottom: 0;
	margin-top: 0;
}

.linkwheel {
	margin-top: 0;
}
