@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

a {
	color: grey;
	text-decoration: none;
}

body {
	background-color: #eeeeee;
	font-family: "SN Pro", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
}

header {
	margin-bottom: 0;
}

.direita {
	text-align: right;
}

.esquerda {
	text-align: left;
}

.folioEntry {
	display: block;
	clear: both;
	margin: 20px;
}

.folioEntry h1 {
	color: #444;
	font-size: 2.5em;
	margin-bottom: 0;
}

.folioEntry img {
	min-height: 320px;
	min-width: 640px;
	max-height: 10%;
	max-width: 40%;
	object-fit: cover;
	margin: 10px;
}

.folioEntry .esquerda {
	float: left;
}

.folioEntry .direita {
	float: right;
}

.footer {
	background-color: #444;
	clear: both;
	color: #ddd;
	font-size: small;
	margin-top: 20px;
	text-align: center;
}

.header {
	color: #222;
	text-align: center;
}

.header .title {
	margin-top: 0;
}

.maintitle {
	font-family: 'Cormorant Garamond';
	font-size: 400%;
	margin-bottom: 0;
	margin-top: 0;
}

.linkwheel {
	margin-top: 0;
}
